
<body style="background-color: rgb(186, 236, 105)">
  <div class="label">
          <h1> TODO list
          </h1>

          
          
          <form action="/task" method="post">
              <p><input type="text" name="content"></p>
              <input type="submit" value="Add task">
          </form>
          
          
          
          
          <ol>
              {% for task in tasks %}
                  <li>
                      {% if task.done %} <strike> {% endif %}{{ task.content }} {% if task.done %} </strike>{% endif %}
                     <a href="/done/{{ task.id }}">{% if task.done %}  Undone{% else %} Done {% endif %}</a>
                      <a href="/delete/{{ task.id }}">Delete</a>
                     
                        <form action="/taskEdit/{{ task.id }}" method="post">
                          <input type="text" name="content" value= {{ task.content }}>
                          <input type="submit" value= "Edit">
                        </form> 
                      
                  </li>
              {% endfor %}
              
          </ol>
      </div>
</body>